
@{
    ViewBag.Title = "Introduce";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}


<style>
    /*body {
        background-color: #C0C0C0;
    }*/
</style>
<div style="background-color: #A9A9A9;
    ">
    <br /> <br /> <br /> <br />
</div>
<div class="w3l-servicesblock py-5" id="who">
    <div id="content">
        <div style="width:100%; height:20px"></div>
        <div class="divOverviewBlock1">
            <div class="divOveviewBlock2">
                <div class="divOverviewBlockText">
                    <div style="width:100%; height:auto; font-weight:bold; font-size:35px; color:#39B54A; border-bottom:solid 1px #39B54A">MISSION</div>
                    <div style="width:100%; height:auto; line-height:28px; padding-top:20px">
                        Provide products and services Ecosystem 4.0 Green - Smart - For human health and happiness. Adding value to shareholders, employees and customers, constantly creating a comfortable, civilized and happy life. Contributing to energy security and environmental protection
                    </div>
                </div>
                <div class="iconOveview" style="background-image:url(https://rangdong.com.vn/uploads/images/About_Us/Overview/mission.jpg)"></div>
                <div style="clear:both"></div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="divOverviewBlock1">
            <div class="divOveviewBlock2">
                <div class="divOverviewBlockText">
                    <div style="width:100%; height:auto; font-weight:bold; font-size:35px; color:#F00; border-bottom:solid 1px #F00">VISION</div>
                    <div style="width:100%; height:auto; line-height:28px; padding-top:20px">
                        <li>By 2025, to become a leading high-tech enterprise in the lighting market in Vietnam; pioneer in the field of providing Ecosystem 4.0</li>
                        <li>By 2030, it will become a billion-dollar enterprise, bringing Rang Dong brand to the regional level</li>
                        <li>The path to development by Science and Technology / Innovation and Kindness</li>
                        <li>Building a company with a more creative, more cultural, more professional and happier working environment. (Security income by 2025 will reach 2000 USD/person/month)</li>
                    </div>
                </div>
                <div class="iconOveview" style="background-image:url(https://rangdong.com.vn/uploads/images/About_Us/Overview/vision_1.jpg)"></div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="divOverviewBlock1">
            <div class="divOveviewBlock2">
                <div class="divOverviewBlockText">
                    <div style="width:100%; height:auto; font-weight:bold; font-size:30px; color:#29ABE2; border-bottom:solid 1px #29ABE2">CORE VALUES</div>
                    <div style="width:100%; height:auto; line-height:28px; padding-top:20px; margin:auto;">
                        <li>
                            Solidarity, initiative, creativity, speed and professionalism
                        </li>
                    </div>
                </div>
                <div class="iconOveview" style="background-image:url(https://rangdong.com.vn/uploads/images/About_Us/Overview/value.jpg)"></div>
            </div>
        </div>
        <div style="width:100%; height:40px"></div>
        <div class="divClear"></div>
        <div class="divOverviewBlock1">
            <div class="divOveviewBlock2">
                <div class="divOverviewBlockText">
                    <div style="width:100%; height:auto; font-weight:bold; font-size:30px; color:#C1272D; border-bottom:solid 1px #C1272D">Core competencies</div>
                    <div style="width:100%; height:auto; line-height:28px; padding-top:20px; margin:auto;">
                        <li>Cultural identity: "Rang Dong Hero and Uncle Ho"</li>
                        <li>Smart, high-tech company &amp; "Make in Vietnam"</li>
                        <li>The ability to withstand pressure and overcome challenges with unity and synergy</li>
                    </div>
                </div>
                <div class="iconOveview" style="background-image:url(https://rangdong.com.vn/uploads/images/About_Us/Overview/poeple.jpg)"></div>
            </div>
            <div class="divClear"></div>
        </div>
        <!--Bộ Gens của người Rạng Đông-->
        <div style="width:100%; height:40px"></div>
        <div class="divClear"></div>
        <div class="divOverviewBlock1">
            <div class="divOveviewBlock2">
                <div class="divOverviewBlockText">
                    <div style="width:100%; height:auto; font-weight:bold; font-size:35px; color:#39B54A; border-bottom:solid 1px #39B54A">
                        Human Gens Set LEDMI
                    </div>
                    <div style="width:100%; height:auto; line-height:28px; padding-top:20px; margin:auto;">
                        <li>6T: Dedication - Dedication - Self-discipline - Confidence - Self-respect - Honesty</li>
                        <li>4 Together: "Same vision - Same heart - Working together - Enjoying together"</li>
                        <li>New Qualities: Creating, Adapting, and Breaking through</li>
                    </div>
                </div>
                <div class="iconOveview" style="background-image:url(https://rangdong.com.vn/uploads/images/About_Us/Overview/mission.jpg)"></div>
            </div>
            <div class="divClear"></div>
        </div>
        <!--Phương châm hành động-->
        <div style="width:100%; height:40px"></div>
        <div class="divClear"></div>
        <div class="divOverviewBlock1">
            <div class="divOveviewBlock2">
                <div class="divOverviewBlockText">
                    <div style="width:100%; height:auto; font-weight:bold; font-size:30px; color:#C1272D; border-bottom:solid 1px #C1272D">Action motto (slogan):</div>
                    <div style="width:100%; height:auto; line-height:28px; padding-top:20px; margin:auto;">
                        <li>Serving customers, creating knowledge - adding value!</li>
                    </div>
                </div>
                <div class="iconOveview" style="background-image:url(https://rangdong.com.vn/uploads/images/About_Us/Overview/phuong-cham-hanh-dong.jpg)"></div>
            </div>
            <div class="divClear"></div>
        </div>


    </div>
</div>