
@{
    ViewBag.Title = "ShoppingGuide";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}

<style>
    /*body {
        background-color: #C0C0C0;
    }*/
</style>
<div style="background-color: #A9A9A9;
    ">
    <br /> <br /> <br /> <br />
</div>

<div class="motopress-wrapper content-holder clearfix">
    <div class="top_page">
        <div id="breadcrumbs">
            <div class="">
                <nav role="navigation" aria-label="breadcrumbs">
                    <ol class="breadcrumb">
                        <li>
                            <a href="/HomeUser/Index" title="Quay lại trang trước">
                                <span>Home&nbsp; /</span>
                            </a>
                        </li>




                        <li>
                            <a href="" title="Tất cả sản phẩm">
                                <span>&nbsp;&nbsp;Shopping Guide</span>
                            </a>
                        </li>


                    </ol>
                </nav>
            </div>
        </div>
    </div> <div class="content-page">
        <div class="container">
            <div id="post-34">
                <p><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">Nếu không thuận tiện đến cửa hàng hay đại lý quý khách vẫn có thể mua hàng online trên Shopled bằng các cách sau:</span></p>
                <p><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;"><strong>Cách 1:</strong> Gọi điện đến Hotline: <span style="color:#f60;"><strong>0931502001</strong></span> từ 8g-17g30 (cả CN và ngày lễ) để đặt hàng, nhân viên chúng tôi luôn sẵn sàng tư vấn, hỗ trợ quý khách mua được sản phẩm ưng ý.</span></p>
                <p><span style="font-family:tahoma,arial,helvetica,sans-serif;color:#333;"><span style="font-weight:400;"><strong>Cách 2:</strong> Đặt mua hàng online trên website: </span><a style="color:#333;" href="#"><span style="font-weight:400;">Led Mi</span></a></span></p>
                <ul> <li><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;"><strong>Bước 1:</strong> <strong>Tìm sản phẩm cần mua</strong></span></li> </ul>
                <p><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">Truy cập vào website shopled.vn tìm và chọn sản phẩm bằng một trong các cách sau:</span></p>
                <p><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">&nbsp;+ Sử dụng ô tìm kiếm trên website gõ tên sản phẩm quý khách cần mua&nbsp;</span></p>
                <p><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">Ví dụ:&nbsp;</span></p>
                @*<p><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">Gõ Model: SLB7036, SLG9901, GAC0900, GAC3200,…</span></p>*@
                <p><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">Gõ sản phẩm: Bóng đèn led, đèn bàn led,…</span></p>
                @*<p><span style="font-family:tahoma,arial,helvetica,sans-serif;color:#333;"><img alt="" width="800" height="600" nitro-lazy-src="https://cdn-cjenp.nitrocdn.com/herDDjMHJBgKqLksBxgreuaVPBgsUaGi/assets/static/optimized/rev-263437a/wp-content/uploads/2020/04/1-1.jpg" class="aligncenter wp-image-1052 lazyloaded" nitro-lazy-empty="" id="NDQ1OjIzMg==-1" src="https://cdn-cjenp.nitrocdn.com/herDDjMHJBgKqLksBxgreuaVPBgsUaGi/assets/static/optimized/rev-263437a/wp-content/uploads/2020/04/1-1.jpg"></span></p>*@
                <p class="nitro-offscreen"><img alt="" width="800" height="600" nitro-lazy-src="" class="wp-image-1054 aligncenter ls-is-cached lazyloaded" nitro-lazy-empty="" id="NDQ2OjE1MQ==-1" src="~/Uploads/searchpage.png"></p>
                @*<p class="nitro-offscreen"><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">&nbsp;+ Shopled luôn có các chương trình khuyến mại hấp dẫn, sản phẩm hot quý khách có thể click vào các banner để dẫn đến thông tin khuyến mại.</span></p>*@
                @*<p class="nitro-offscreen"><span style="font-family:tahoma,arial,helvetica,sans-serif;color:#333;"><img alt="" width="1235" height="600" nitro-lazy-src="https://cdn-cjenp.nitrocdn.com/herDDjMHJBgKqLksBxgreuaVPBgsUaGi/assets/static/optimized/rev-263437a/wp-content/uploads/2020/04/2-2.jpg" class="wp-image-1053 aligncenter ls-is-cached lazyloaded" nitro-lazy-empty="" id="NDQ4OjIzMw==-1" src="https://cdn-cjenp.nitrocdn.com/herDDjMHJBgKqLksBxgreuaVPBgsUaGi/assets/static/optimized/rev-263437a/wp-content/uploads/2020/04/2-2.jpg"></span></p>*@
                <p class="nitro-offscreen"><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">&nbsp;+ Sử dụng trang home page của website</span></p>
                <p class="nitro-offscreen"><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">Quý khách click vào sản phẩm, lựa chọn sản phẩm cụ thể để xem chi tiết và mua hàng hoặc thêm sản phẩm ưng ý vào giỏ hàng.</span></p>
                @*<p class="nitro-offscreen"><span style="font-family:tahoma,arial,helvetica,sans-serif;color:#333;"><img alt="" width="780" height="600" nitro-lazy-src=""></span></p>*@
                <p class="nitro-offscreen"><img alt="" width="800" height="600" nitro-lazy-src="" class="wp-image-1054 aligncenter ls-is-cached lazyloaded" nitro-lazy-empty="" id="NDQ2OjE1MQ==-1" src="~/Uploads/homepage1.png"></p>

                <ul class="nitro-offscreen">
                    <li>
                        <span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">
                            <strong>Bước 2:</strong>
                            <strong>Đặt mua hàng</strong>
                        </span>
                    </li>
                </ul> <p class="nitro-offscreen">
                    <span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">Sau khi xem sản phẩm ưng ý quý khách muốn mua, quý khách có thể tiến hành mua bằng cách:</span>
                </p> <p class="nitro-offscreen">
                    <span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">
                        Nhấp vào sản phẩm&nbsp;
                        @*<span style="color:#f60;">MUA NGAY</span> Hoặc <span style="color:#f60;">THÊM VÀO GIỎ&nbsp;</span>*@
                    </span>
                </p> <p class="nitro-offscreen">
                    <span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">
                        &nbsp;+ Tại đây : Quý khách sẽ xem chi tiết thông tin sản phẩm&nbsp;
                    </span>
                </p>
                @*<p class="nitro-offscreen">
            <span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">
                &nbsp;+ Tại danh mục
                <span style="color:#f60;">Thiết bị điện</span> hoặc <span style="color:#f60;">Thiết bị gia dụng</span>: Quý khách sẽ đến ngay phần giỏ hàng
            </span>
        </p>*@
                <p class="nitro-offscreen"><img alt="" width="800" height="600" nitro-lazy-src="" class="wp-image-1054 aligncenter ls-is-cached lazyloaded" nitro-lazy-empty="" id="NDQ2OjE1MQ==-1" src="~/Uploads/detail.png"></p>
                <ul class="nitro-offscreen"> <li><strong><span style="font-family:tahoma,arial,helvetica,sans-serif;color:#333;">Bước 3: Lựa chọn số lượng sản phẩm quý khách muốn mua</span></strong></li> </ul>
                @*<p class="nitro-offscreen"><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">&nbsp;+ Nếu quý khách mua các thiết bị chiếu sáng quý khách cần nhấp chọn</span></p>
        <p class="nitro-offscreen">
            <span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">
                &nbsp;
                <span style="color:#f60;">Công suất, màu ánh sáng, số lượng</span> &gt; Sau đó <span style="color:#f60;">THÊM VÀO GIỎ HÀNG</span>
            </span>
        </p>*@
                @*<p class="nitro-offscreen"><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">&nbsp;+ Các thiết bị điện, thiết bị gia dụng sẽ lựa chọn số lượng sản phẩm cần mua &gt; Nhấp <span style="color:#f60;">THÊM VÀO GIỎ HÀNG</span> Hoặc <span style="color:#f60;">MUA NGAY</span></span></p>*@
                <p class="nitro-offscreen"><img alt="" width="800" height="600" nitro-lazy-src="" class="wp-image-1054 aligncenter ls-is-cached lazyloaded" nitro-lazy-empty="" id="NDQ2OjE1MQ==-1" src="~/Uploads/detail2.jpg"></p>

                <ul class="nitro-offscreen"> <li><strong><span style="font-family:tahoma,arial,helvetica,sans-serif;color:#333;">Bước 4: Thay đổi thông tin tại giỏ hàng, cập nhập số lượng giỏ hàng hoặc tiếp tục quay lại mua sắm trên website</span></strong></li> </ul>
                @*<p class="nitro-offscreen"><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">Nếu quý khách có thay đổi về số lượng sản phẩm tại giỏ hàng: Quý khách nhấn vào 2 dấu <span style="color:#f60;">(-) (+)</span> hai bên để <span style="color:#f60;">Giảm</span> hoặc <span style="color:#f60;">Tăng</span> số lượng sản phẩm &gt; Sau đó nhấn: <span style="color:#f60;">Cập nhập giỏ hàng</span></span></p>*@
                @*<p class="nitro-offscreen"><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">Hoặc tiếp tục quay lại thanh menu hay bên ngoài trang chủ để tiếp tục mua sắm thêm các sản phẩm khác.</span></p>
        <p class="nitro-offscreen"><span style="font-family:tahoma,arial,helvetica,sans-serif;color:#333;"><img alt="" width="800" height="600" nitro-lazy-src="https://cdn-cjenp.nitrocdn.com/herDDjMHJBgKqLksBxgreuaVPBgsUaGi/assets/static/optimized/rev-263437a/wp-content/uploads/2020/04/6-6.jpg" class="aligncenter wp-image-1057 ls-is-cached lazyloaded" nitro-lazy-empty="" id="NDcyOjIzMg==-1" src="https://cdn-cjenp.nitrocdn.com/herDDjMHJBgKqLksBxgreuaVPBgsUaGi/assets/static/optimized/rev-263437a/wp-content/uploads/2020/04/6-6.jpg"></span></p>*@
                <p class="nitro-offscreen"><img alt="" width="800" height="600" nitro-lazy-src="" class="wp-image-1054 aligncenter ls-is-cached lazyloaded" nitro-lazy-empty="" id="NDQ2OjE1MQ==-1" src="~/Uploads/mycart1.png"></p>

                <ul class="nitro-offscreen"> <li><strong><span style="font-family:tahoma,arial,helvetica,sans-serif;color:#333;">Bước 5: Đặt hàng</span></strong></li> </ul>
                <p class="nitro-offscreen"><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">Nếu quý khách không quay lại mua sắm thêm các sản phẩm khác quý khách nhấn vào <span style="color:#f60;">Tiến hành đặt hàng</span> để đi đến <span style="color:#f60;">Đặt hàng</span>.</span></p>
                <p class="nitro-offscreen"><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">Hệ thống sẽ hiển thị các ô trống để khách hàng nhập thông tin.</span></p>
                <p class="nitro-offscreen"><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">Tại đây quý khách điền đầy đủ các thông tin (Tên người nhân, số điện thoại người nhận, địa chỉ, note) thì đơn hàng mới được tạo.</span></p>
                <p class="nitro-offscreen"><strong><span style="font-family:tahoma,arial,helvetica,sans-serif;color:#333;">Lựa chọn hình thức thanh toán:</span></strong></p>
                @*<p class="nitro-offscreen"><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">&nbsp;+ Click vào chuyển khoản ngân hàng</span></p>
        <p class="nitro-offscreen"><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">Quý khách chuyển khoản vào tài khoản Ngân hàng của chúng tôi, nhập <strong>Mã đơn hàng </strong>vào nội dung thanh toán.</span></p>
        <p class="nitro-offscreen"><span style="color:#f60;"><strong><span style="font-family:tahoma,arial,helvetica,sans-serif;">Thông tin tài khoản ngân hàng Shopled:&nbsp;</span></strong></span></p>
        <p class="nitro-offscreen"><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">Ngân hàng TMCP Công Thương Việt Nam (VietinBank), chi nhánh Nam Thăng Long, phòng Giao dịch Hà Đô</span></p>
        <p class="nitro-offscreen"><span style="font-family:tahoma,arial,helvetica,sans-serif;color:#333;"><b>Số tài khoản:</b><span style="font-weight:400;"> 114002853***, chủ tài khoản: CT CP TAM KIM</span></span></p>*@
                @*<p class="nitro-offscreen"><span style="font-family:tahoma,arial,helvetica,sans-serif;color:#333;"><img alt="" width="771" height="600" nitro-lazy-src="https://cdn-cjenp.nitrocdn.com/herDDjMHJBgKqLksBxgreuaVPBgsUaGi/assets/static/optimized/rev-263437a/wp-content/uploads/2020/04/8-8.jpg" class="aligncenter wp-image-1058 lazyloaded" nitro-lazy-empty="" id="NDg1OjIzMg==-1" src="https://cdn-cjenp.nitrocdn.com/herDDjMHJBgKqLksBxgreuaVPBgsUaGi/assets/static/optimized/rev-263437a/wp-content/uploads/2020/04/8-8.jpg"></span></p>
                <p class="nitro-offscreen"><span style="font-family:tahoma,arial,helvetica,sans-serif;color:#333;"><img alt="" width="785" height="600" nitro-lazy-src="https://cdn-cjenp.nitrocdn.com/herDDjMHJBgKqLksBxgreuaVPBgsUaGi/assets/static/optimized/rev-263437a/wp-content/uploads/2020/04/10-10.jpg" class="aligncenter wp-image-1060 lazyloaded" nitro-lazy-empty="" id="NDg2OjIzNA==-1" src="https://cdn-cjenp.nitrocdn.com/herDDjMHJBgKqLksBxgreuaVPBgsUaGi/assets/static/optimized/rev-263437a/wp-content/uploads/2020/04/10-10.jpg"></span></p>
                <p class="nitro-offscreen"><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">&nbsp;+ Hoặc: Click thanh toán khi nhận hàng</span></p>*@
                <p class="nitro-offscreen"><img alt="" width="800" height="600" nitro-lazy-src="" class="wp-image-1054 aligncenter ls-is-cached lazyloaded" nitro-lazy-empty="" id="NDQ2OjE1MQ==-1" src="~/Uploads/mycart2.png"></p>
                <p class="nitro-offscreen"><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">&nbsp;&gt; Sau đó nhấp: <span style="color:#f60;">BUY</span></span></p>
                @*<p><span style="font-family:tahoma,arial,helvetica,sans-serif;color:#333;"><img alt="" width="781" height="600" nitro-lazy-src="https://cdn-cjenp.nitrocdn.com/herDDjMHJBgKqLksBxgreuaVPBgsUaGi/assets/static/optimized/rev-263437a/wp-content/uploads/2020/04/9-9.jpg" class="aligncenter wp-image-1061 ls-is-cached lazyloaded" nitro-lazy-empty="" id="NDg5OjIzMg==-1" src="https://cdn-cjenp.nitrocdn.com/herDDjMHJBgKqLksBxgreuaVPBgsUaGi/assets/static/optimized/rev-263437a/wp-content/uploads/2020/04/9-9.jpg"></span></p>*@
                <p class="nitro-offscreen"><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">&nbsp;Sau khi Đặt hàng thành công, Led Mi sẽ liên hệ với quý khách để xác nhận và hoàn tất thủ tục.</span></p>
                <p class="nitro-offscreen"><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">&nbsp;Ngoài cách trên quý khách có thể chat trực tiếp với nhân viên của Led Mi để được tư vấn và đặt mua sản phẩm.</span></p>
                <p class="nitro-offscreen"><span style="font-family:tahoma,arial,helvetica,sans-serif;color:#333;"><strong>Lưu ý:</strong></span></p>
                <p class="nitro-offscreen"><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">Led Mi chỉ chấp nhận các đơn đặt hàng cung cấp đầy đủ thông tin số điện thoại, địa chỉ. Sau khi đặt hàng Led Mi sẽ liên hệ lại để kiểm tra thông tin về đơn hàng.</span></p>
                <p class="nitro-offscreen"><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">Với một số trường hợp: Giá trị đơn hàng lớn, thời gian giao hàng tối, địa chỉ giao hàng không thuận tiện… Led Mi sẽ liên hệ với quý khách để thống nhất cách thức giao hàng và thanh toán.</span></p>
                <p class="nitro-offscreen"><span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;color:#333;">Led Mi cam kết tất cả sản phẩm hàng chính hãng 100% có đầy đủ hóa đơn và thời gian bảo hành. Những rủi ro do quá trình vận chuyển bị va đập, ẩm ướt,.. có thể ảnh hưởng đến chất lượng sản phẩm. Vì vậy quý khách vui lòng kiểm tra thật kỹ hàng hóa trước khi ký nhận. Led Mi không chịu trách nhiệm với những sai hỏng của hàng hóa sau khi quý khách đã ký nhận hàng.</span></p>
            </div>
        </div>
    </div>
</div>